<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    
    <body>
            <script>
                    (function(w,d,url,a,s,e){
                        w[a]= (w[a]||[]);
                        s = d.getElementsByTagName("script")[0];e = d.createElement("script");e.src=url;e.async=1;s.parentNode.insertBefore(e,s);
                    })(window,document,'//ec-concier.com/db81087b563f55a6/analytics.js','ara');
                    ara.push(['init', 'db81087b563f55a6']);
                    </script>
        <div>
            <h1><a href="/">Django Girls Blog2</a></h1>
        </div>

            <h2><a href="page2.html">My first post</a></h2>
            <p>Aenean eu leo quam. こんにちは！ よろしくお願いします！ </p>
            <p>あああ </p>
        </div>

        <div>
            <p>公開日: 2014/06/14, 12:14</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p> こんにちは！ よろしくお願いします！ </p>
        </div>
    </body>
</html>
